version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: quiz-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: quiz-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/quiz_system
      - SPRING_DATA_MONGODB_DATABASE=quiz_system
      - APP_BASE_URL=http://localhost
      - MAIL_USERNAME=${MAIL_USERNAME:-dlyabrawlaacc@gmail.com}
      - MAIL_PASSWORD=${MAIL_PASSWORD:-eiylcwhfvlddltzb}
      - MAIL_FROM=${MAIL_FROM:-dlyabrawlaacc@gmail.com}
    depends_on:
      - mongodb
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: quiz-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo-data:
